%ul.nav.nav-sidebar
  = nav_link do
    = link_to group_path(@group), title: 'Go to group', class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Go to group

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'groups#edit') do
      = link_to edit_group_path(@group), title: 'Group Settings' do
        = icon ('pencil-square-o fw')
        %span
          Group Settings
    = nav_link(path: 'groups#projects') do
      = link_to projects_group_path(@group), title: 'Projects' do
        = icon('folder fw')
        %span
          Projects
    - if ldap_enabled?
      = nav_link(controller: :ldap_group_links) do
        = link_to group_ldap_group_links_path(@group), title: "LDAP Groups" do
          %i.fa.fa-exchange
          %span
            LDAP Groups
    = nav_link(controller: :hooks) do
      = link_to group_hooks_path(@group), title: "Webhooks" do
        %i.fa.fa-link
        %span
          Webhooks
    = nav_link(controller: :audit_events) do
      = link_to group_audit_events_path(@group), title: "Audit Events" do
        %i.fa.fa-file-text-o
        %span
          Audit Events
